body {
  background-color: #000000;
  margin: 0 auto; 
  font-size: 16px;
}
/*header*/

.logo {
  float: left;
  width: 160px;
  padding-left: 10px;
  padding-right: 10px;    
}

.header-menu {
  float: left;
  width: 560px;
  padding-left: 10px;
  padding-right: 10px;    
}
.header-menu>ul>li {
  display:inline-block;
  vertical-align:top;
  list-style:none;  
}

.login {
  float: right;
  width: 160px;
  padding-left: 10px;
  padding-right: 10px;    
}

/*main*/
main {
  background-color: #f8f5f2
}
.part {
  padding: 10px;
}
.breadcrumbs>ul>li {
  display:inline-block;
  vertical-align:top;
  list-style:none;  
}

.selection{
  float: left;
  width: 230px;
  padding-left: 10px;   
}

.items{
  float: right;
  width: 720px;  
  /*временно*/
  background-color: yellow;
}

.items-item {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  width: 220px;
  height: 290px;   
  margin: 10px 8px; 
  
  /*временно*/
  background-color:gray;
}

.pagination>li {
  display:inline-block;
  vertical-align:top;
  list-style:none;  
}
/*item*/
.goods-foto {
  float: left;
  width: 460px;
  margin: 10px;
}

.goods-foto-head{
  margin-bottom: 20px;
}
.goods-foto-list>img:not(:first-of-type) {
  margin-left: -0.25em;
}

.goods-foto-list>img:not(:last-child) {
   margin-right: 20px;
}

.goods-about {
  float: right;
  width: 390px;
  margin: 10px;
}


/*footer*/
.contacts {
  float:left;
  width: 330px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 70px;  
}

.frieds {
  float:left;
  width: 160px;
  padding-left: 10px;
  padding-right: 10px;  
}

.design {
  float:right;
  width: 160px;
  padding-left: 10px;
  padding-right: 10px;  
}


/*вспомогательные классы */
.wrapper{
  width: 960px;
  margin: 0 auto;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;  
}